html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "Red Hat Display", sans-serif;
    font-size: smaller;
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: #e0e8fe;
    background-repeat: no-repeat;
    background-size: top: ;
}



main {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    background-image: url();
    font-size: 13px;
    padding: 0 5% 0 5%;
}

.caixa {
    display:flex;
    flex-direction: column;
    width: 400px;
    height: 650px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 1em gray;
    border-radius: 15px;
    justify-content: space-between;

}

.foto {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

h4 {
  color: gray;
  font-size: 18px; 
  font-weight: lighter;
  text-align: center;
  margin: 0;
}

.caixa-music {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5f7ff;
    height:80px;
    width: 290px;
    align-self:center;
    border-radius: 10px;
    padding: 5px 15px;

}

.title {
    font-size: 90px;
}

/*usar space-between dentro da caixa pra espaçar certin*/

.button {
    background-color: black;
    color: #f5f7ff;
}

.botao-azul {
    background-color: #3829e0;
    color: white;
    height: 50px;
    width: 320px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    align-self: center;
}

.cancel-button {
    background-color: transparent;
    color: grey;
    border: transparent;
    font-size: larger;
    font-weight: bolder;
    cursor: point;
    align-self: center;
    padding-bottom: 30px;
}

.annual {
    font-size: 20px;
}

.plano {
    padding-right: 60px;
    line-height: 0.5;
}
.price {
    color: gray;
    font-size: larger;
}

.titulo {
    align-self: center;
    padding: 10px 0 0 0;
    margin: 0;
}